<h1>Login</h1>
<form action="." method="post">
	<p><label for="email"><b>Email</b></label>
	<input type="text" placeholder="Enter Email" name="email" required></p>
	<p><label for="psw"><b>Password</b></label>
	<input type="password" placeholder="Enter Password" name="psw" required></p>
	<p><button type="submit" class="signupbtn">Login</button></p>
</form>