<body>
	<navbar>
		<p>Navigation links go here</p>
	</navbar>
	<% flash.each do |key, value| %>
		<p><%= value %></p>
	<% end %>
	<%= yield %>
	<footer>
		<p>Site created at 2018</p>
	</footer>
</body>